md-content[ui-view] {
    background: #fff5dd;
}

.transparent-bg {
    background: transparent;
}

.mdl-navigation__link {
    align-items: center;
    color: rgb(255,171,64);
    font-weight: 500;
    text-decoration: none;
}

.demo-navigation, .mdl-navigation {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}

.full-width {
    display: block;
    width: 100%;
}