<div>
    <md-content class="md-padding transparent-bg" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <img src="images/picard-engage.0.0.jpg"/>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Make It So</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        Using the gravitational pull of a star to slingshot back in time? We are going to
                        Starbase Montgomery for Engineering consultations prompted by minor read-out anomalies.
                        Probes have recorded unusual levels of geological activity in all five planetary
                        systems. Assemble a team
                    </p>
                    <p>
                        The wormhole's size and short period would make this a local phenomenon. Do you have
                        sufficient data to compile a holographic simulation?
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Warp Speed</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        Run a manual sweep of anomalous airborne or electromagnetic readings. Radiation levels
                        in our atmosphere have increased by 3,000 percent. Electromagnetic and subspace wave
                        fronts approaching synchronization. What is the strength of the ship's deflector shields
                        at maximum output? Shields up. I recommend we transfer power to phasers and arm the
                        photon torpedoes.
                    </p>
                </md-card-content>
                <md-card-actions layout="column" layout-align="start">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>

        </div>
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Icon action buttons</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <img style="width: 200px;" src="./images/troy.jpg"/>
                    <p>
                        The weapons must have disrupted our communicators. You saw something as tasty as meat,
                        but inorganically materialized out of patterns used by our transporters.
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <md-icon class="material-icons">favorite</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Settings">
                        <md-icon class="material-icons">add</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                        <md-icon class="material-icons">favorite</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>


            <md-card>
                <img src="images/Riker_imitates_Picard.jpg"/>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <md-icon class="material-icons">thumb up</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Settings">
                        <md-icon class="material-icons">replay</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                        <md-icon class="material-icons">play arrow</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>

            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img src="images/Data_with_pipe.jpg"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Angular</span>
                        <span class="md-subhead">Material</span>
                    </md-card-header-text>
                </md-card-header>
                <img src="images/Data_with_pipe.jpg"/>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Card header</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        Captain, the most elementary and valuable statement in science, the beginning of wisdom,
                        is 'I do not know.' All transporters off.
                    </p>
                </md-card-content>
            </md-card>

        </div>
    </md-content>
</div>
